
a{
	text-decoration:none;
}

web{
	width:1000px;
	margin:1 auto;
}

nav{
	width:100%;
	height:40px;
	background-color:orange;
	text-align:center;
	margin-top:6px;
	margin-bottom:10px;margin-left:1px;margin-right:10px;
	border-radius:5px
}

nav ul{
	list-style:none;
	padding:0;
	margin:0;
	text-align:right;
	color:red;
}

nav ul li{
	float:left;
	margin-top:11px;
	display:initial;
}

nav ul li a{
	width:150px;
	text-decoration:none;
	text-align:center;
	font-family:times new roman;
	font-weight:bold;
	border-radius:10px;
	color:black;
	padding:0px 10px 10px;
	display:block;
	font-size:18px;
}

nav ul li a:hover{
	color:red;
}
nav ul li ul li{
	float:none;
}
nav ul li ul{
	display:none;
}
nav ul li:hover ul{
	display:block;
	background:white;
}

column{
	float:left;
	width:50%;
	padding:20px;
}

row:after{
	content:"";
	display:table;
	clear:both;
}

dropdown-menu{
	display:block;
	position:absolute;
	left:0;
	top:100%;
	background-color:var(--color-black);
}

dropdown-menu ul{
	display:block;
	margin:10px;
	
}

menu-bar ul li a:hover{
	color:var(--color-primary);
}


